#shape{
    background-color: yellow;
    width: 300px;
    height: 300px;
    position: relative;
}
#heading {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}
